# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# IDE / editor specific files
# Adjust based on your IDE
*.idea/
.vscode/
.pycharm/

# Virtual environment
# Uncomment if using virtualenv
.env

# Jupyter Notebook
# Uncomment if using Jupyter Notebook
.ipynb_checkpoints

# Scratch files
# *.ipynb

# Drafts
# *.txt

# Local configuration
local_settings.py

# Excluded file extensions
*.jpg
*.jpeg
*.JPG
*.png
*.gif
*.txt
*.mp3
*.pptx
*.rar
*.pdf
*.zip
*.data
*.names
*.csv
*.docx